# black list
/*
target
tmp
_tmp.*
_tmp_*

.directory
.thumbnails*
.DS_Store
desktop.ini
Thumbs.db
Thumbs.db:encryptable

!/ci
!/.git*
!/License
!/src
!/docs
# !/build.rs
# !/.rustfmt.toml
# !/rust-toolchain.toml
# !/.cargo
# !/Cargo.toml
# !/Cargo.lock
# !/assets
# !/tests
# !/examples
# !/locales
# !/crates
# !/Readme*.md
